body {
  background: #f2f2f2;
}

.conter {
  width: 1190px;
  margin: 0 auto;
  position: relative;
}

.head {
  background: #ff6326;
  position: relative;
}

.head img {
  display: block;
  height: 100px;
}

.head span {
  display: block;
  position: absolute;
  top: 3px;
  right: 56px;
  width: 15px;
  height: 15px;
  overflow: hidden;
  background: url(../images/index.png) -241px -145px;
}

.head .activex {
  background: url(../images/index.png) -241px -160px;
}

.head .active-img {
  display: none;
}

.toorbal {
  background: #f5f5f5;
  border-bottom: 1px solid #eee;
}

.toorbal .toorbal-left {
  float: left;
}

.toorbal .toorbal-left .website-nav {
  position: relative;
  float: left;
  margin-left: -1px;
  width: 65px;
  padding: 0 10px;
  height: 35px;
}

.toorbal .toorbal-left .website-nav span {
  display: inline-block;
  cursor: pointer;
  line-height: 35px;
  height: 35px;
  color: #666;
  font-size: 12px;
  float: left;
}

.toorbal .toorbal-left .website-nav em {
  display: inline-block;
  font-size: 10px;
  width: 10px;
  color: #bbb;
  margin-left: 3px;
  vertical-align: middle;
  float: left;
  line-height: 35px;
}

.toorbal .toorbal-left .website-nav .website-nav-list {
  width: 988px;
  padding: 20px 0;
  position: absolute;
  display: none;
  top: 35px;
  border: 1px solid #ddd;
  background: #fff;
  left: 0;
  z-index: 3;
}

.toorbal .toorbal-left .website-nav .website-nav-list dl {
  float: left;
  width: 176px;
  border-right: 1px solid #eee;
  padding-left: 20px;
}

.toorbal .toorbal-left .website-nav .website-nav-list dl dt {
  height: 25px;
  width: 100%;
  font-size: 14px;
  font-family: "Microsoft Yahei";
  line-height: 17px;
}

.toorbal .toorbal-left .website-nav .website-nav-list dl dd {
  line-height: 35px;
  width: 100%;
  overflow: hidden;
  color: #333;
}

.toorbal .toorbal-left .website-nav .website-nav-list dl dd p {
  float: left;
  height: 25px;
  width: 78px;
  line-height: 25px;
  font-size: 12px;
  color: #333;
  position: relative;
}

.toorbal .toorbal-left .website-nav .website-nav-list dl dd p .hot {
  position: absolute;
  display: inline-block;
  height: 16px;
  width: 16px;
  background: url(../images/index.png) -345px -213px;
  left: auto;
  right: 12px;
  top: 2px;
}

.toorbal .toorbal-left .website-nav .website-nav-list dl:last-child {
  border-right: none;
}

.toorbal .toorbal-left .website-nav .website-nav-list em {
  position: absolute;
  width: 15px;
  height: 15px;
  background: #ccc url(../images/index.png) -241px -145px;
  right: 10px;
  top: 10px;
}

.toorbal .toorbal-left .website-nav .busin {
  width: 162px;
  padding-top: 5px;
  left: 0;
  padding-bottom: 5px;
  position: absolute;
  top: 35px;
  border: 1px solid #ddd;
  background: #fff;
  display: none;
}

.toorbal .toorbal-left .website-nav .busin p {
  height: 28px;
  line-height: 28px;
  padding-left: 10px;
  width: 71px;
  float: left;
  color: #666;
  font-size: 12px;
}

.toorbal .toorbal-left .website-nav .service {
  width: 162px;
  padding-top: 5px;
  left: auto;
  right: 0;
  padding-bottom: 5px;
  position: absolute;
  top: 35px;
  border: 1px solid #ddd;
  background: #fff;
  display: none;
}

.toorbal .toorbal-left .website-nav .service p {
  height: 28px;
  line-height: 28px;
  padding-left: 10px;
  width: 71px;
  float: left;
  color: #666;
  font-size: 12px;
}

.toorbal .toorbal-left .website-nav .address {
  float: left;
  width: 12px;
  height: 15px;
  margin: 8px 6px 0 6px;
  background: url(../images/index.png) -387px -183px;
}

.toorbal .toorbal-left .website-nav-active {
  background: #fff;
}

.toorbal .toorbal-left .website-nav-active .website-nav-list {
  display: block;
}

.toorbal .toorbal-left .website-nav-active em {
  transition: transform .2s ease-in;
  transform: rotate(-180deg);
}

.toorbal .toorbal-right {
  float: right;
}

.toorbal .toorbal-right .order {
  position: relative;
  float: left;
  margin-left: -1px;
  height: 35px;
  padding: 0 10px;
}

.toorbal .toorbal-right .order a {
  color: #666;
  line-height: 35px;
  font-size: 12px;
  cursor: pointer;
}

.toorbal .toorbal-right .order a:last-child {
  color: #F60;
  margin-left: 10px;
}

.toorbal .toorbal-right .order span {
  display: inline-block;
  cursor: pointer;
  line-height: 35px;
  height: 35px;
  color: #666;
  font-size: 12px;
  float: left;
}

.toorbal .toorbal-right .order em {
  display: inline-block;
  font-size: 10px;
  width: 10px;
  color: #bbb;
  margin-left: 3px;
  vertical-align: middle;
  float: left;
  line-height: 35px;
}

.toorbal .toorbal-right .order .order-box {
  width: 81px;
  padding-bottom: 5px;
  position: absolute;
  top: 35px;
  border: 1px solid #ddd;
  background: #fff;
  left: 0;
  display: none;
  z-index: 2;
}

.toorbal .toorbal-right .order .order-box p {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  width: 71px;
  color: #666;
  font-size: 12px;
}

.toorbal .toorbal-right .order .my-yigou {
  width: 162px;
  padding-bottom: 5px;
  position: absolute;
  top: 35px;
  border: 1px solid #ddd;
  background: #fff;
  left: 0;
  display: none;
}

.toorbal .toorbal-right .order .my-yigou .my-yigou-h {
  width: 142px;
  height: 56px;
  margin: 5px 10px;
  overflow: hidden;
}

.toorbal .toorbal-right .order .my-yigou .my-yigou-h img {
  width: 54px;
  height: 54px;
  float: left;
}

.toorbal .toorbal-right .order .my-yigou .my-yigou-h span {
  float: left;
  width: 66px;
  height: 56px;
  line-height: 56px;
  padding-left: 20px;
}

.toorbal .toorbal-right .order .my-yigou p {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  width: 71px;
  color: #666;
  font-size: 12px;
  float: left;
}

.toorbal .toorbal-right .order i {
  float: left;
  margin: 0 7px 0 0;
  font-size: 14px;
  width: 16px;
  line-height: 35px;
  color: #F60;
}

.toorbal .toorbal-right .order .car {
  color: #F60;
}

.toorbal .toorbal-right .order .qrcode {
  right: 0;
  left: auto;
  width: 540px;
  height: 220px;
  overflow: hidden;
  position: absolute;
  top: 35px;
  border: 1px solid #ddd;
  background: #fff;
  display: none;
}

.toorbal .toorbal-right .order .qrcode ul {
  width: 540px;
}

.toorbal .toorbal-right .order .qrcode ul li {
  float: left;
  width: 180px;
  margin: 17px 0 0;
}

.toorbal .toorbal-right .order .qrcode ul li img {
  display: block;
  width: 147px;
  height: 147px;
  margin: 0 auto 10px;
}

.toorbal .toorbal-right .order .qrcode ul li p {
  width: 180px;
  height: 14px;
  line-height: 14px;
  overflow: hidden;
  text-align: center;
  color: #666;
  font-size: 12px;
}

.toorbal .toorbal-right .order-active {
  background: #fff;
}

.toorbal .toorbal-right .order-active em {
  transition: transform .2s ease-in;
  transform: rotate(-180deg);
}

.toorbal .toorbal-right .order-active span {
  color: #f60;
}

.toorbal .toorbal-right .order-active .order-box {
  display: block;
}

.index-header {
  height: 110px;
  background: #fff;
}

.index-header .logo {
  position: absolute;
  top: 0;
  left: 0;
}

.index-header .logo img {
  width: 190px;
  height: 90px;
}

.index-header .logo-gif {
  position: absolute;
  left: 190px;
  top: 0;
}

.index-header .index-search {
  position: absolute;
  height: 100px;
  width: 600px;
  top: 0;
  left: 300px;
}

.index-header .index-search .right-search {
  width: 540px;
  margin: 30px 0 0 0;
  position: relative;
  float: right;
}

.index-header .index-search .right-search .in-enter {
  width: 350px;
  padding: 9px 10px 9px 0;
  height: 18px;
  line-height: 18px;
  margin-top: 0;
  border: none;
  background: #FFF;
  border: 2px solid #FA0;
  border-right: none;
  float: left;
  padding-left: 30px;
}

.index-header .index-search .right-search .btn-search {
  width: 120px;
  background: #F90;
  font-size: 18px;
  height: 40px;
  font-weight: bold;
  letter-spacing: 2px;
  text-indent: 2px;
  color: #FFF;
  border: 0;
  cursor: pointer;
  float: left;
}

.index-header .index-search i {
  display: block;
  position: absolute;
  top: 31px;
  left: 62px;
  width: 25px;
  height: 40px;
  line-height: 40px;
  text-align: right;
  font-size: 14px;
  color: #ccc;
}

.index-header .index-search .index-foot {
  float: left;
  width: 100%;
  height: 18px;
  margin-top: 5px;
  color: #999;
}

.index-header .index-search .index-foot a {
  float: left;
  white-space: nowrap;
  font-size: 12px;
  margin: 3px 0 3px -11px;
  padding: 0 20px 0 10px;
  border-left: 1px solid #ddd;
  height: 12px;
  line-height: 12px;
  color: #999;
}

.index-header .index-search .index-foot a:first-child {
  border-left: none;
}

.nav-head {
  height: 38px;
  overflow: visible;
  width: 100%;
  background: #fff;
}

.nav-head .nav-box {
  position: absolute;
  width: 190px;
}

.nav-head .nav-box .nav-box-head {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -190px;
}

.nav-head .nav-box .nav-box-head a {
  position: absolute;
  display: block;
  width: 163px;
  padding-left: 27px;
  height: 38px;
  top: 0;
  line-height: 38px;
  background: #F90;
  color: #FFF !important;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}

.nav-head .nav-box .nav-box-head a i {
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  top: 14px;
  left: 9px;
  background: url(../images/index.png) 0 0;
}

.nav-head .nav-box .nav-box-head a:last-child {
  left: 95px;
}

.nav-head .nav-box .nav-box {
  width: 190px;
  height: 482px;
  top: 0;
  left: 0;
  background: #252221;
  position: absolute;
  top: 38px;
  z-index: 2;
}

.nav-head .nav-box .nav-box .nav-li-active {
  background: #fff;
}

.nav-head .nav-box .nav-box .nav-li-active a {
  color: #252221;
}

.nav-head .nav-box .nav-box .nav-li-active .nav-li-a {
  color: #F90;
}

.nav-head .nav-box .nav-box li {
  width: 175px;
  height: 32px;
  padding: 0 8px 0 10px;
  line-height: 32px;
}

.nav-head .nav-box .nav-box li a {
  display: inline-block;
  vertical-align: middle;
  color: #FFF;
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
}

.nav-head .nav-box .nav-box li em {
  display: inline-block;
  vertical-align: middle;
  height: 12px;
  width: 1px;
  opacity: 0.4;
  background: #D8D8D8;
  margin: 0 5px;
}

.nav-head .nav-box .nav-box .nav-block {
  position: absolute;
  left: 190px;
  min-height: 480px;
  overflow: hidden;
  background: #fff;
  top: 0px;
  width: 999px;
  border: 1px solid #382526;
  display: none;
}

.nav-head .nav-box .nav-box .nav-block .nav-block-head {
  width: 686px;
  float: left;
  height: 24px;
  margin: 10px 0 0 8px;
  overflow: hidden;
}

.nav-head .nav-box .nav-box .nav-block .nav-block-head a {
  float: left;
  height: 24px;
  margin-left: 25px;
  padding: 0 10px;
  color: #FFF;
  line-height: 24px;
  ext-align: center;
  background: #F90;
  text-decoration: none;
  font-size: 12px;
}

.nav-head .nav-box .nav-box .nav-block .nav-block-main {
  width: 780px;
  margin: 10px 0 0 0;
  padding-left: 20px;
  overflow: hidden;
  float: left;
}

.nav-head .nav-box .nav-box .nav-block .nav-block-main dl {
  width: 750px;
  float: left;
  height: auto;
  overflow: hidden;
}

.nav-head .nav-box .nav-box .nav-block .nav-block-main dl dt {
  float: left;
  width: 84px;
  height: 20px;
  line-height: 20px;
  font-weight: 700;
  padding-left: 10px;
  padding-top: 8px;
}

.nav-head .nav-box .nav-box .nav-block .nav-block-main dl dt a {
  display: block;
  width: 84px;
  height: 20px;
  overflow: hidden;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  line-height: 20px;
  font-weight: 700;
  font-size: 12px;
}

.nav-head .nav-box .nav-box .nav-block .nav-block-main dl dt .nav-main-active {
  color: #f60;
}

.nav-head .nav-box .nav-box .nav-block .nav-block-main dl dd {
  width: 650px;
  float: left;
  font: 12px/1.5 arial, tahoma, \5b8b\4f53;
  line-height: 20px;
  overflow: hidden;
  border-bottom: 1px solid #eeeeee;
  margin-top: 8px;
  padding-bottom: 8px;
}

.nav-head .nav-box .nav-box .nav-block .nav-block-main dl dd a {
  margin-right: 15px;
  display: inline-block;
  font-family: "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
  color: #666;
  cursor: pointer;
  font-size: 12px;
  line-height: 20px;
}

.nav-head .nav-box .nav-box .nav-block .nav-block-main dl dd .nav-main-active {
  color: #f60;
}

.nav-head .nav-box .nav-box .nav-block .nav-block-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 199px;
  height: 100%;
  overflow: hidden;
  background: #F3F3F3;
}

.nav-head .nav-box .nav-box .nav-block .nav-block-right .nav-samll-img {
  width: 182px;
  margin: 10px 0 0 8px;
}

.nav-head .nav-box .nav-box .nav-block .nav-block-right .nav-samll-img a {
  float: left;
  width: 90px;
  height: 38px;
  margin: 0 1px 1px 0;
  padding-top: 7px;
  background: #FFF;
  cursor: pointer;
}

.nav-head .nav-box .nav-box .nav-block .nav-block-right .nav-samll-img a img {
  width: 80px;
  height: 30px;
  margin: 0 auto;
}

.nav-head .nav-box .nav-box .nav-block .nav-block-right .nav-big-img {
  width: 180px;
  margin: 11px 0 0 8px;
}

.nav-head .nav-box .nav-box .nav-block .nav-block-right .nav-big-img a img {
  float: left;
  width: 180px;
  height: 100px;
  margin-bottom: 5px;
  overflow: hidden;
}

.nav-head .nav-box .nav-box .nav-block-active {
  display: block;
}

.nav-head .nav-index {
  width: 785px;
  height: 38px;
  line-height: 38px;
  overflow: hidden;
  position: absolute;
  left: 190px;
  padding-left: 10px;
}

.nav-head .nav-index ul li {
  position: relative;
  float: left;
  height: 38px;
  font-size: 15px;
  color: #333;
  cursor: pointer;
  font-weight: bold;
  padding: 0 12px 0 13px;
}

.nav-head .nav-index ul li span {
  position: absolute;
  width: 25px;
  height: 8px;
  bottom: -8px;
  left: 50%;
  margin-left: -12px;
  background: url(../images/index.png) -37px 0;
  transition: all .5s;
}

.nav-head .nav-index ul li .hot {
  position: absolute;
  display: inline-block;
  height: 17px;
  width: 14px;
  left: auto;
  right: -2px;
  top: 0px;
  background: url(../images/index.png) !important;
  background-position: -345px -213px !important;
}

.nav-head .nav-index ul li:hover span {
  bottom: 0;
}

.nav-head .nav-index ul .nav-index-active {
  color: #f60;
}

.nav-head .xieyi {
  display: block;
  width: 170px;
  height: 38px;
  position: absolute;
  right: 0;
}

.banner {
  position: relative;
  width: 100%;
  height: 482px;
  overflow: hidden;
}

.banner .banner-right {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: 425px;
  width: 170px;
  height: 482px;
  background: #FFF;
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;
}

.banner .banner-right .banner-right-head {
  width: 170px;
  height: 155px;
  padding: 11px 0 2px;
  border-bottom: 1px solid #f2f2f2;
}

.banner .banner-right .banner-right-head .banner-user {
  width: 52px;
  height: 52px;
  margin: 0 auto;
  background: url(../images/index.png) -93px -23px;
}

.banner .banner-right .banner-right-head p {
  width: 150px;
  height: 24px;
  margin: 8px auto 0;
  text-align: center;
  font: 12px/24px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.banner .banner-right .banner-right-head .banner-user-btn {
  width: 100%;
  margin: 6px auto 15px;
  height: 24px;
  overflow: hidden;
  text-align: center;
}

.banner .banner-right .banner-right-head .banner-user-btn a:first-child {
  font-size: 12px;
  width: 68px;
  height: 20px;
  border: 1px solid #F90;
  color: #ffa114;
  line-height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
  cursor: pointer;
}

.banner .banner-right .banner-right-head .banner-user-btn a:last-child {
  background: url(../images/index.png) -295px -251px;
  display: inline-block;
  width: 70px;
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
  margin: 0 3px;
}

.banner .banner-right .banner-right-head .banner-user-enter a:first-child {
  float: left;
  width: 70px;
  height: 18px;
  margin: 0 11px 0 9px;
  border-radius: 9px;
  background: url(../images/index.png) -670px -256px;
  cursor: pointer;
}

.banner .banner-right .banner-right-head .banner-user-enter a:last-child {
  background: url(../images/index.png) -670px -288px;
  float: left;
  width: 70px;
  height: 18px;
  border-radius: 9px;
  cursor: pointer;
}

.banner .banner-right .banner-right-center {
  width: 150px;
  height: 145px;
  overflow: hidden;
  margin: 11px 10px 11px;
  font: 12px/20px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
}

.banner .banner-right .banner-right-center ul {
  width: 150px;
}

.banner .banner-right .banner-right-center ul li {
  width: 150px;
  height: 48px;
}

.banner .banner-right .banner-right-center ul li p {
  width: 150px;
  height: 40px;
  overflow: hidden;
  word-break: break-all;
}

.banner .banner-right .banner-right-center ul li p span:first-child {
  color: #F90;
  font-size: 12px;
}

.banner .banner-right .banner-right-center ul li p span:last-child {
  font-size: 12px;
}

.banner .banner-right .banner-right-foot {
  width: 170px;
  height: 145px;
  overflow: hidden;
  border-top: 1px solid #f2f2f2;
}

.banner .banner-right .banner-right-foot ul li {
  float: left;
  width: 55px;
  height: 62px;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #f2f2f2;
  text-align: center;
  padding-top: 10px;
}

.banner .banner-right .banner-right-foot ul li i {
  font-size: 24px;
  color: #f90;
  text-align: center;
  padding-top: 10px;
  display: block;
  width: 100%;
}

.banner .banner-right .banner-right-foot ul li p {
  font-size: 12px;
}

.banner .slider-box {
  position: absolute;
  width: 100%;
  height: 482px;
  top: 0;
  left: 0;
  overflow: hidden;
  cursor: pointer;
}

.banner .slider-box .slider-box-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 482px;
  display: none;
}

.banner .slider-box .slider-box-item img {
  top: 0;
  left: 50%;
  display: block;
  width: 830px;
  height: 482px;
  position: absolute;
  margin-left: -406px;
  z-index: 1;
}

.banner .slider-control {
  cursor: pointer;
  position: absolute;
  width: 830px;
  height: 100px;
  top: 50%;
  margin-top: -50px;
  font-size: 60px;
  z-index: 1;
  left: 50%;
  margin-left: -406px;
}

.banner .slider-control .prev {
  background: rgba(0, 0, 36, 0.28);
  color: #fff;
  font-size: 50px;
}

.banner .slider-control .next {
  font-size: 50px;
  float: right;
  background: rgba(0, 0, 36, 0.28);
  color: #fff;
}

.banner .slider-warp {
  position: absolute;
  top: 323px;
  width: 100%;
  height: 20px;
  text-align: center;
  font-size: 0;
}

.banner .slider-nav {
  cursor: pointer;
  position: relative;
  display: inline-block;
  opacity: 0.8;
  padding: 0 8px 0 0;
  height: 20px;
  z-index: 1;
}

.banner .slider-nav .slider-nav-item {
  color: #fff;
  float: left;
  border-radius: 15px;
  margin: 0 5px;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 30px;
  background: url(../images/index.png) -26px -100px;
}

.banner .slider-nav .current {
  background: url(../images/index.png) 0px -100px;
}

.banner .first-hc {
  position: absolute;
  bottom: 8px;
  left: 50%;
  margin-left: -399px;
  width: 816px;
  height: 122px;
  overflow: hidden;
  z-index: 1;
}

.banner .first-hc .four-hc {
  position: absolute;
  top: 0;
  left: 0;
}

.banner .first-hc .four-hc ul li {
  float: left;
  position: relative;
  width: 202px;
  height: 122px;
  background: #FFF;
  margin-left: 2px;
  opacity: 0.96;
  cursor: default;
}

.banner .first-hc .four-hc ul li .title {
  color: #ef4124;
  display: block;
  margin: 10px 0 0 12px;
  position: relative;
  z-index: 1;
  width: 95px;
  height: 22px;
  line-height: 22px;
  font-weight: bold;
  font-size: 17px;
  overflow: hidden;
  word-break: break-all;
}

.banner .first-hc .four-hc ul li .desc {
  margin: 1px 0 0 12px;
  position: relative;
  z-index: 1;
  width: 95px;
  height: 19px;
  line-height: 19px;
  font-size: 14px;
  overflow: hidden;
  word-break: break-all;
  color: #666;
}

.banner .first-hc .four-hc ul li img {
  bottom: 6px;
  width: 80px;
  height: 80px;
  position: absolute;
  right: 10px;
}

.banner .first-hc .animate-hc {
  width: 816px;
  position: absolute;
  top: 0;
  left: 2px;
  height: 122px;
}

.banner .first-hc .animate-hc ul li {
  background: url(../images/go1.png);
  width: 53px;
  float: left;
  height: 122px;
}

.banner .first-hc .animate-hc ul li .hc-lable {
  background: #FFF url(../images/index.png) -497px -165px no-repeat;
  width: 53px;
  height: 122px;
}

.banner .first-hc .animate-hc ul li .hc-lable p {
  padding-top: 6px;
  width: 20px;
  font-weight: bold;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  cursor: default;
  color: #EF4124;
}

.banner .first-hc .animate-hc ul li .hclist {
  width: 655px;
  height: 122px;
}

.banner .first-hc .animate-hc ul li .hclist .hclist-zhc {
  margin: 18px 0 0 30px;
  position: relative;
  float: left;
  width: 203px;
}

.banner .first-hc .animate-hc ul li .hclist .hclist-zhc .title {
  color: #EF4124;
  font-size: 22px;
  line-height: 29px;
  font-weight: bold;
  width: 130px;
  height: 29px;
  overflow: hidden;
}

.banner .first-hc .animate-hc ul li .hclist .hclist-zhc .desc {
  color: #EF4124;
  font-size: 16px;
  height: 21px;
  line-height: 21px;
  width: 130px;
  overflow: hidden;
}

.tj-floor {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.tj-floor .tj-bg {
  width: 1920px;
  margin-left: -960px;
  position: absolute;
  left: 50%;
  top: 0;
}

.tj-floor .tj-bg-head {
  width: 1190px;
  height: 150px;
  position: relative;
  display: block;
  margin: 0 auto;
}

.tj-floor .hcList {
  width: 1200px;
  margin-left: -10px;
  position: relative;
}

.tj-floor .hcList ul li {
  width: 230px;
  height: 213px;
  margin: 0 0 10px 10px;
  position: relative;
  float: left;
  text-align: center;
}

.tj-floor .hcList ul li .img-warp {
  height: 130px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.tj-floor .hcList ul li .img-warp img {
  width: 120px;
  height: 120px;
  margin: 10px auto 0;
  display: block;
}

.tj-floor .hcList ul li .tj-click {
  position: relative;
  width: 100%;
  height: 100%;
}

.tj-floor .hcList ul li .tj-click .title {
  font-size: 20px;
  line-height: 28px;
  width: 210px;
  height: 28px;
  margin: 145px auto 6px;
  color: #ffffff;
  text-align: center;
  overflow: hidden;
}

.tj-floor .hcList ul li .tj-click .desc {
  color: #216869;
  width: 200px;
  height: 22px;
  margin-top: 6px;
  line-height: 22px;
  font-size: 16px;
  margin: 0 auto;
  overflow: hidden;
}

.tj-floor .hcList::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.ms-floor {
  position: relative;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.ms-floor .content-warp {
  position: relative;
  width: 1920px;
  height: 307px;
  padding-top: 20px;
  left: 50%;
  margin-left: -960px;
  top: 0;
}

.ms-floor .content-warp .ms-title {
  width: 100%;
  height: 46px;
  border-bottom: 1px solid #E7E7E7;
  background: #fff;
}

.ms-floor .content-warp .ms-title img {
  float: left;
  width: 83px;
  height: 20px;
  margin: 14px 0 0 20px;
}

.ms-floor .content-warp .ms-title .cc-infor {
  float: left;
  height: 16px;
  margin: 15px 0 0 20px;
  line-height: 16px;
}

.ms-floor .content-warp .ms-title .time {
  float: left;
  line-height: 20px;
  height: 20px;
  overflow: hidden;
  margin: 14px 0 0 8px;
}

.ms-floor .content-warp .ms-title .time span {
  float: left;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  background: #333;
  border-radius: 3px;
}

.ms-floor .content-warp .ms-title .time i {
  float: left;
  font-size: 14px;
  padding: 0 6px;
}

.ms-floor .content-warp .ms-title .tab-list {
  float: left;
  height: 46px;
  margin-left: 62px;
  border-bottom: 1px solid #E7E7E7;
}

.ms-floor .content-warp .ms-title .tab-list ul {
  float: left;
}

.ms-floor .content-warp .ms-title .tab-list ul li {
  float: left;
  width: 133px;
  height: 24px;
  margin: 12px 60px 0 0;
  line-height: 24px;
  text-align: center;
  font-size: 14px;
  cursor: default;
}

.ms-floor .content-warp .ms-title .tab-list ul li i {
  line-height: 24px;
  text-align: center;
  font-size: 14px;
  cursor: default;
}

.ms-floor .content-warp .ms-title .tab-list ul .li-cur {
  background: url(../images/index.png) -561px 0px;
  color: #FFF;
}

.ms-floor .content-warp .ms-title .right-more {
  position: relative;
  float: right;
  margin: 13px 10px 0 0;
  font-size: 14px;
  color: #999;
  line-height: 19px;
  padding-right: 18px;
}

.ms-floor .content-warp .ms-title .right-more i {
  position: absolute;
  right: 0;
  top: 2px;
  width: 15px;
  height: 15px;
  background: url(../images/index.png) -561px -36px;
}

.ms-floor .content-warp .tab-area {
  background: #fff;
}

.ms-floor .content-warp .tab-area .tab-content {
  width: 1000px;
  float: left;
  height: 260px;
  overflow: hidden;
}

.ms-floor .content-warp .tab-area .tab-content .con-list {
  width: 1000px;
  float: left;
  position: relative;
  height: 240px;
  margin-top: 10px;
  overflow: hidden;
  cursor: pointer;
  display: none;
}

.ms-floor .content-warp .tab-area .tab-content .con-list ul {
  position: absolute;
  left: 0;
  top: 0;
  width: 4000px;
  height: 240px;
}

.ms-floor .content-warp .tab-area .tab-content .con-list ul li {
  float: left;
  width: 199px;
  height: 240px;
  border-right: 1px solid #E7E7E7;
}

.ms-floor .content-warp .tab-area .tab-content .con-list ul li img {
  display: block;
  width: 159px;
  height: 159px;
  margin: 10px 20px;
}

.ms-floor .content-warp .tab-area .tab-content .con-list ul li .title {
  width: 156px;
  height: 16px;
  margin: 0 0 0 20px;
  line-height: 16px;
  overflow: hidden;
  word-break: break-all;
  font-size: 12px;
}

.ms-floor .content-warp .tab-area .tab-content .con-list ul li .price {
  height: 21px;
  margin: 6px 0 0 20px;
}

.ms-floor .content-warp .tab-area .tab-content .con-list ul li .price .gbPrice {
  line-height: 21px;
  color: #F60;
  font-size: 16px;
  font-weight: bold;
  font-size: 12px;
}

.ms-floor .content-warp .tab-area .tab-content .con-list ul li .price .gbPrice i {
  line-height: 21px;
  color: #F60;
  font-size: 16px;
  font-weight: bold;
}

.ms-floor .content-warp .tab-area .tab-content .con-list ul li .price .gbPrice em {
  line-height: 21px;
  color: #F60;
  font-size: 16px;
  font-weight: bold;
}

.ms-floor .content-warp .tab-area .tab-content .con-list ul li .price .refPrice {
  line-height: 16px;
  color: #999;
  text-decoration: line-through;
}

.ms-floor .content-warp .tab-area .tab-content .con-list ul li .price .refPrice i {
  line-height: 16px;
  color: #999;
  font-size: 12px;
}

.ms-floor .content-warp .tab-area .tab-content .con-list ul li .price .refPrice em {
  line-height: 16px;
  color: #999;
  font-size: 12px;
}

.ms-floor .content-warp .tab-area .tab-content .con-list ul li .line {
  float: left;
  margin: 8px 0 0 20px;
  width: 100px;
  height: 6px;
  background: url(../images/index.png) -561px -74px;
}

.ms-floor .content-warp .tab-area .tab-content .con-list ul li .line span {
  float: left;
  height: 6px;
  border-radius: 0 3px 3px 0;
  background: url(../images/index.png) -561px -94px;
}

.ms-floor .content-warp .tab-area .tab-content .con-list ul li .precent {
  float: left;
  margin-left: 10px;
  color: #999;
  font-size: 10px;
}

.ms-floor .content-warp .tab-area .tab-content .con-list ul li .pretext {
  margin: 3px 0 0 20px;
  color: #999;
  font-size: 12px;
}

.ms-floor .content-warp .tab-area .tab-content .con-list .prev {
  left: 0;
  position: absolute;
  width: 30px;
  height: 64px;
  top: 70px;
  background: url(../images/index.png) -161px -145px;
  display: none;
  cursor: pointer;
}

.ms-floor .content-warp .tab-area .tab-content .con-list .next {
  display: none;
  right: 0;
  position: absolute;
  width: 30px;
  height: 64px;
  top: 70px;
  background: url(../images/index.png) -198px -146px;
  cursor: pointer;
}

.ms-floor .content-warp .tab-area .tab-content .con-list .cur {
  display: block;
}

.ms-floor .content-warp .tab-area .tab-content .cur {
  display: block;
}

.ms-floor .right-img {
  background: #fff;
}

.ms-floor .right-img img {
  float: left;
  width: 170px;
  height: 240px;
  margin: 10px;
}

.three-floor {
  width: 1190px;
  margin: 20px auto 0;
}

.three-floor .little {
  float: left;
  width: 390px;
  height: 427px;
  background: #FFF;
  border-radius: 4px;
  overflow: hidden;
}

.three-floor .little .title {
  color: #69A88F;
  background: #F7FAF9;
  width: 100%;
  height: 45px;
}

.three-floor .little .title span {
  background: #69A88F;
  float: left;
  width: 5px;
  height: 20px;
  margin-top: 12px;
}

.three-floor .little .title .text {
  float: left;
  font-weight: bold;
  font-size: 18px;
  line-height: 44px;
  margin-left: 15px;
}

.three-floor .little .title a {
  position: relative;
  float: right;
  margin: 13px 10px 0 0;
  font-size: 14px;
  color: #999;
  line-height: 19px;
  padding-right: 18px;
}

.three-floor .little .title a i {
  position: absolute;
  right: 0;
  top: 2px;
  width: 15px;
  height: 15px;
  background: url(../images/index.png) -561px -36px;
}

.three-floor .little .content {
  position: relative;
  height: 382px;
  overflow: hidden;
}

.three-floor .little .content .bq-ul {
  position: absolute;
  width: 5000px;
  height: 362px;
}

.three-floor .little .content .bq-ul li {
  float: left;
  width: 350px;
  height: 362px;
  margin: 15px 20px;
  cursor: pointer;
}

.three-floor .little .content .bq-ul li a img {
  display: block;
  width: 350px;
  height: 150px;
  border-radius: 2px;
}

.three-floor .little .content .bq-ul li a .name {
  line-height: 21px;
  font-size: 18px;
  overflow: hidden;
  height: 21px;
  width: 350px;
  text-align: center;
  margin-top: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #222;
}

.three-floor .little .content .bq-ul li a .infor {
  font-size: 14px;
  color: #999;
  line-height: 20px;
  height: 40px;
  overflow: hidden;
  margin: 8px 0 11px 0;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.three-floor .little .content .bq-ul li .img-show {
  width: 360px;
  margin-left: -15px;
}

.three-floor .little .content .bq-ul li .img-show img {
  float: left;
  width: 100px;
  height: 100px;
  margin: 0 0 0 20px;
}

.three-floor .little .content .prev {
  position: absolute;
  display: none;
  width: 30px;
  height: 64px;
  top: 161px;
  background: url(../images/index.png) -161px -145px;
  left: 0;
  cursor: pointer;
}

.three-floor .little .content .next {
  position: absolute;
  display: none;
  width: 30px;
  height: 64px;
  top: 161px;
  background: url(../images/index.png) -198px -146px;
  left: 350px;
  cursor: pointer;
}

.three-floor .little .content .cur {
  display: block;
}

.three-floor .little .content .pager-wrap {
  position: absolute;
  bottom: 7px;
  left: 0;
  width: 390px;
  height: 6px;
  text-align: center;
  font-size: 0;
}

.three-floor .little .content .pager-wrap .banner-pager {
  position: relative;
  display: inline-block;
  padding: 0 10px 0 0;
  height: 6px;
}

.three-floor .little .content .pager-wrap .banner-pager .pager {
  text-align: center;
  font-size: 0;
}

.three-floor .little .content .pager-wrap .banner-pager .pager a {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  background: #d8d8d8;
  width: 12px;
  height: 6px;
  border-radius: 6px;
}

.three-floor .little .content .pager-wrap .banner-pager .pager .pager-cur {
  background: #5588aa;
}

.three-floor .sh-area {
  margin-left: 10px;
}

.three-floor .sh-area .title {
  color: #FF9902;
  background: #FFFAF2;
}

.three-floor .sh-area .title span {
  background: #FF9902;
}

.three-floor .sh-area .content {
  width: 371px;
  height: 363px;
  margin: 0 10px;
  padding-top: 8px;
  overflow: hidden;
  background: #FFF;
}

.three-floor .sh-area .content ul {
  width: 372px;
  height: 364px;
  cursor: pointer;
}

.three-floor .sh-area .content ul li {
  position: relative;
  float: left;
  width: 185px;
  height: 181px;
  border-width: 0 1px 1px 0;
  border-color: #F2F2F2;
  border-style: solid;
}

.three-floor .sh-area .content ul li a {
  float: left;
  width: 100%;
  height: 100%;
}

.three-floor .sh-area .content ul li a .name {
  position: relative;
  float: left;
  width: auto;
  padding: 0 8px 0 14px;
  height: 22px;
  overflow: hidden;
  margin: 15px 0 0 9px;
  background: #FF9902;
  background-image: linear-gradient(-90deg, #FFC36C 0%, #FF9902 100%);
  text-align: center;
  border-radius: 20px;
  color: #FFF;
  font: 14px/22px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
  word-break: break-all;
}

.three-floor .sh-area .content ul li a .name i {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #FFF;
  top: 8px;
  left: 6px;
}

.three-floor .sh-area .content ul li a .desc {
  float: left;
  width: 144px;
  height: 16px;
  overflow: hidden;
  text-align: left;
  color: #999;
  margin: 6px 0 0 16px;
  font: 12px/16px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
}

.three-floor .sh-area .content ul li .first-img {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 65px;
  left: 3px;
}

.three-floor .sh-area .content ul li .last-img {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 65px;
  left: 93px;
}

.three-floor .ph-area {
  margin-left: 10px;
}

.three-floor .ph-area .title {
  color: #DB5757;
  background: #FDF6F6;
}

.three-floor .ph-area .title span {
  background: #DB5757;
}

.three-floor .ph-area .tab-list {
  width: 370px;
  height: 39px;
  border-bottom: 1px solid #F2F2F2;
  margin: 0 auto;
  overflow: hidden;
}

.three-floor .ph-area .tab-list ul {
  position: relative;
  width: 2000px;
}

.three-floor .ph-area .tab-list ul li {
  float: left;
  width: 70px;
  height: 24px;
  padding: 0 10px;
  overflow: hidden;
  margin: 7px 5px 0;
  text-align: center;
  border-radius: 12px;
  font-size: 14px;
  color: #333;
  line-height: 24px;
  cursor: default;
}

.three-floor .ph-area .tab-list ul li:first-child {
  width: 28px;
}

.three-floor .ph-area .tab-list ul .li-cur {
  color: #FFF;
  background: #F86E6E;
  background-image: linear-gradient(90deg, #DB5757 0%, #F86E6E 100%);
}

.three-floor .ph-area .comm-list {
  position: relative;
  width: 390px;
  height: 342px;
  display: none;
}

.three-floor .ph-area .comm-list .jx-wrap {
  left: 0px;
  position: absolute;
  top: 0;
  width: 390px;
  height: 342px;
}

.three-floor .ph-area .comm-list .jx-wrap ul {
  float: left;
  width: 350px;
  margin: 12px 20px 0;
}

.three-floor .ph-area .comm-list .jx-wrap ul li {
  position: relative;
  width: 350px;
  height: 90px;
  margin-bottom: 19px;
}

.three-floor .ph-area .comm-list .jx-wrap ul li img {
  float: left;
  width: 90px;
  height: 90px;
  background: none;
}

.three-floor .ph-area .comm-list .jx-wrap ul li .right-content {
  float: left;
  width: 240px;
  margin-left: 20px;
}

.three-floor .ph-area .comm-list .jx-wrap ul li .right-content .name {
  width: 240px;
  height: 36px;
  margin-top: 10px;
  line-height: 18px;
  overflow: hidden;
  font-size: 12px;
}

.three-floor .ph-area .comm-list .jx-wrap ul li .right-content .price {
  float: left;
  font-size: 14px;
  color: #DB5757;
  line-height: 20px;
  margin-top: 10px;
}

.three-floor .ph-area .comm-list .jx-wrap ul li .right-content .top {
  float: right;
  margin-top: 10px;
  background: #FFDFDF;
  color: #DB5757;
  padding: 0 6px;
  height: 20px;
  line-height: 20px;
  border-radius: 100px;
  font-size: 12px;
}

.three-floor .ph-area .comm-list .jx-wrap .pager-warp {
  position: absolute;
  bottom: 7px;
  left: 0;
  width: 390px;
  height: 6px;
  text-align: center;
  font-size: 0;
}

.three-floor .ph-area .comm-cur {
  display: block;
}

.three-floor .quan-areaa .title {
  color: #EF711E;
  background: #FEF8F4;
}

.three-floor .quan-areaa .title span {
  background: #EF711E;
}

.three-floor .quan-areaa ul {
  margin-top: 12px;
}

.three-floor .quan-areaa ul li {
  position: relative;
  float: left;
  width: 350px;
  height: 109px;
  margin: 0 0 10px 20px;
  border-radius: 6px;
  background: url(../images/qg.png);
}

.three-floor .quan-areaa ul li .left-area {
  float: left;
  width: 300px;
  height: 109px;
}

.three-floor .quan-areaa ul li .left-area img {
  float: left;
  margin: 10px 0 0 10px;
  width: 90px;
  height: 90px;
}

.three-floor .quan-areaa ul li .left-area .text-area {
  float: left;
  width: 180px;
  margin: 26px 0 0 12px;
}

.three-floor .quan-areaa ul li .left-area .text-area .price {
  float: left;
  font-size: 22px;
  font-weight: bold;
  color: #EF711E;
  line-height: 31px;
  height: 31px;
}

.three-floor .quan-areaa ul li .left-area .text-area .price i {
  font-size: 12px;
}

.three-floor .quan-areaa ul li .left-area .text-area .rule1 {
  float: left;
  max-width: 110px;
  margin: 10px 0 0 14px;
  height: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #EF711E;
  line-height: 16px;
}

.three-floor .quan-areaa ul li .left-area .text-area .rule2 {
  width: 160px;
  margin-top: 40px;
  height: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #EF711E;
  line-height: 16px;
  font-size: 12px;
}

.three-floor .quan-areaa ul li a {
  float: left;
  width: 50px;
  height: 109px;
  color: #FFF;
  line-height: 109px;
  text-align: center;
}

.three-floor .quan-areaa ul li a i {
  display: inline-block;
  vertical-align: middle;
  line-height: 19px;
  width: 14px;
  font-size: 14px;
}

.three-floor .quan-areaa ul li a span {
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 109px;
}

.three-floor .tm-area {
  margin-left: 10px;
}

.three-floor .tm-area .title {
  color: #DD5352;
  background: #FDF6F6;
}

.three-floor .tm-area .title span {
  background: #DD5352;
}

.three-floor .tm-area .content {
  width: 371px;
}

.three-floor .tm-area .content ul {
  width: 372px;
  height: 364px;
}

.three-floor .tm-area li {
  position: relative;
  float: left;
  width: 185px;
  height: 181px;
  border-width: 0 1px 1px 0;
  border-color: #F2F2F2;
  border-style: solid;
}

.three-floor .tm-area li .click-area {
  float: left;
  width: 100%;
  height: 100%;
}

.three-floor .tm-area li .click-area .name {
  width: 170px;
  height: 20px;
  line-height: 20px;
  margin: 123px auto 0;
  text-align: center;
  font-size: 14px;
  color: #222;
  overflow: hidden;
}

.three-floor .tm-area li .click-area .desc {
  width: 170px;
  height: 14px;
  margin: 6px auto 0;
  color: #DD5352;
  line-height: 14px;
  text-align: center;
  overflow: hidden;
  font-size: 12px;
}

.three-floor .tm-area li .img-infor {
  position: absolute;
  width: 110px;
  height: 110px;
  top: 0;
  left: 37px;
  overflow: hidden;
}

.three-floor .tm-area li .img-infor .infor-wrapper {
  position: relative;
  top: 0;
  height: 220px;
  width: 110px;
  transition: top 1s ease;
}

.three-floor .tm-area li .img-infor .infor-wrapper .load {
  position: absolute;
  width: 110px;
  height: 110px;
  display: block;
  left: 0;
  top: 0;
}

.three-floor .tm-area li .img-infor .infor-wrapper .hide-wrapper {
  position: absolute;
  top: 110px;
  left: 0;
  width: 110px;
  height: 110px;
  text-align: center;
}

.three-floor .tm-area li .img-infor .infor-wrapper .hide-wrapper .logo {
  display: block;
  width: 72px;
  height: 35px;
  top: 22px;
  left: 19px;
  background: none;
  position: absolute;
}

.three-floor .tm-area li .img-infor .infor-wrapper .hide-wrapper span {
  position: absolute;
  top: 79px;
  left: 25px;
  width: 60px;
  height: 18px;
  color: #FFF;
  background: #F67F7E;
  border-radius: 9px;
  line-height: 18px;
  background-image: linear-gradient(90deg, #F67F7E 0%, #DD5352 100%);
  font-size: 12px;
}

.three-floor .last-list .title {
  color: #4DA5D1;
  background: #F7FAF9;
}

.three-floor .last-list .title span {
  background: #1498E3;
}

.last-list .content ul {
  width: 372px;
  height: 364px;
}

.last-list .content ul li {
  position: relative;
  float: left;
  width: 185px;
  height: 181px;
  border-width: 0 1px 1px 0;
  border-color: #F2F2F2;
  border-style: solid;
}

.last-list .content ul li .click-area {
  float: left;
  width: 100%;
  height: 100%;
}

.last-list .content ul li .click-area .name {
  width: 170px;
  height: 20px;
  line-height: 20px;
  margin: 123px auto 0;
  text-align: center;
  font-size: 14px;
  color: #222;
  overflow: hidden;
}

.last-list .content ul li .click-area .like {
  width: 170px;
  height: 14px;
  margin: 6px auto 0;
  color: #1498E3;
  line-height: 14px;
  text-align: center;
  overflow: hidden;
  font-size: 12px;
}

.last-list .content ul li .click-area .like i {
  position: relative;
  padding-left: 16px;
  font-size: 12px;
}

.last-list .content ul li .click-area .like i em {
  position: absolute;
  top: 2px;
  left: 0;
  width: 12px;
  height: 12px;
  background: url(../images/index.png) -731px -116px;
}

.last-list .content ul li .load {
  position: absolute;
  width: 110px;
  height: 110px;
  top: 0;
  left: 37px;
}

.enter-img {
  width: 1190px;
  margin: 20px auto 0;
}

.enter-img .pindao-list {
  width: 590px;
  height: 530px;
  overflow: hidden;
  float: left;
}

.enter-img .pindao-list ul {
  width: 600px;
}

.enter-img .pindao-list ul li {
  width: 290px;
  height: 260px;
  margin: 0 10px 10px 0;
  position: relative;
  float: left;
  background: #FFF;
  border-radius: 4px;
}

.enter-img .pindao-list ul li .bg {
  width: 270px;
  height: 240px;
  margin: 10px;
  display: block;
  border-radius: 4px;
}

.enter-img .pindao-list ul li .pro {
  width: 150px;
  height: 150px;
  top: 20px;
  left: 70px;
  position: absolute;
  background: none;
}

.enter-img .pindao-list ul li .text-area {
  left: 10px;
  bottom: 10px;
  width: 270px;
  height: 68px;
  position: absolute;
}

.enter-img .pindao-list ul li .text-area .title {
  height: 26px;
  line-height: 26px;
  font-size: 20px;
  margin-top: 4px;
  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-weight: bold;
  color: #FFF;
}

.enter-img .pindao-list ul li .text-area .line {
  width: 40px;
  margin: 6px auto 0;
  position: relative;
  display: block;
  height: 2px;
  background: #FFF;
}

.enter-img .pindao-list ul li .text-area .desc {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  margin-top: 6px;
  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: center;
  color: #FFF;
}

.enter-img .video-area {
  width: 590px;
  height: 260px;
  margin-left: 10px;
  float: left;
  background: #FFF;
  border-radius: 4px;
}

.enter-img .video-area .bigshow {
  width: 424px;
  height: 240px;
  margin: 10px;
  float: left;
}

.enter-img .video-area .bigshow ul {
  width: 100%;
  height: 100%;
}

.enter-img .video-area .bigshow ul li {
  position: relative;
  display: none;
  width: 100%;
  height: 100%;
}

.enter-img .video-area .bigshow ul li img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.enter-img .video-area .bigshow ul li .zb {
  width: 80px;
  height: 24px;
  top: 20px;
  left: 20px;
  position: absolute;
  background: url(../images/index.png) -670px -165px;
}

.enter-img .video-area .bigshow ul li .icon {
  top: 95px;
  left: 187px;
  width: 50px;
  height: 50px;
  position: absolute;
  display: block;
  background: url(../images/index.png) -700px 0;
}

.enter-img .video-area .bigshow ul li .title {
  top: 194px;
  left: 65px;
  font-size: 18px;
  line-height: 24px;
  height: 24px;
  width: 294px;
  position: absolute;
  color: #FFFFFF;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.enter-img .video-area .bigshow ul .li-cur {
  display: block;
}

.enter-img .video-area .smallshow {
  width: 136px;
  margin-top: 10px;
  float: left;
}

.enter-img .video-area .smallshow ul li {
  width: 136px;
  height: 76px;
  margin-bottom: 6px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.enter-img .video-area .smallshow ul li img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  display: block;
}

.enter-img .video-area .smallshow ul li .black-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.enter-img .video-area .smallshow ul li .icon {
  top: 28px;
  left: 58px;
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  background: url(../images/index.png) -700px -115px;
}

.enter-img .video-area .smallshow ul li .title {
  top: 57px;
  left: 5px;
  line-height: 16px;
  height: 16px;
  width: 125px;
  position: absolute;
  color: #FFFFFF;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
}

.enter-img .pindao-right {
  margin: 10px 0 0 10px;
  height: 260px;
}

.three-img {
  width: 1190px;
  margin: 20px auto 0;
}

.three-img img {
  width: 396px;
  height: 100px;
  float: left;
}

.floor {
  width: 1190px;
  margin-top: 30px;
  margin: 20px auto 0;
  border-radius: 4px;
  overflow: hidden;
  height: 565px;
  border: 0;
  background: #f2f2f2;
}

.floor .floor-left {
  float: left;
  width: 590px;
  height: 567px;
  background: #FFF;
  border-radius: 4px;
  box-shadow: 0 0 8px #eee;
  overflow: hidden;
}

.floor .title {
  width: 100%;
  height: 47px;
  background: #F9F9F9;
}

.floor .title .title-name {
  float: left;
  width: 190px;
  height: 47px;
}

.floor .title .title-name .border {
  float: left;
  width: 4px;
  height: 20px;
  margin-top: 14px;
  background: #33AE75;
}

.floor .title .title-name .name {
  color: #33AE75;
  margin-left: 11px;
  font: bold 18px/44px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
  float: left;
}

.floor .title .title-name .code {
  position: relative;
  float: left;
  width: 18px;
  height: 18px;
  margin: 14px 0 0 8px;
  z-index: 1;
}

.floor .title .title-name .code .code-img {
  display: block;
  width: 18px;
  height: 18px;
}

.floor .title .title-name .code .code-block {
  display: none;
  position: absolute;
  top: 35px;
  left: -49px;
  width: 120px;
  height: 130px;
  background: #FFF;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
}

.floor .title .title-name .code .code-block span {
  position: absolute;
  width: 10px;
  height: 8px;
  top: -7px;
  left: 56px;
  background: url(../images/index.png) -267px -210px;
}

.floor .title .title-name .code .code-block img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 6px auto 0;
}

.floor .title .title-name .code .code-block p {
  float: none;
  text-align: center;
  font: 14px/24px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
  color: #333;
}

.floor .title .title-name .code .code-cur {
  display: block;
}

.floor .title .navlist {
  float: right;
  margin: 14px 18px 0 0;
}

.floor .title .navlist a {
  float: right;
  margin-left: 20px;
  font: 14px/20px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
  color: #666;
  text-decoration: none;
}

.floor .content {
  width: 100%;
  height: 360px;
}

.floor .content .left-img {
  float: left;
  position: relative;
  width: 190px;
  height: 360px;
  cursor: pointer;
}

.floor .content .left-img img {
  display: block;
  width: 190px;
  height: 360px;
}

.floor .content .left-img .cover {
  position: absolute;
  width: 160px;
  height: 60px;
  left: 0;
  bottom: 40px;
  opacity: 0.5;
  background: #000;
  border-radius: 0 8px 8px 0;
}

.floor .content .left-img .img-name {
  position: absolute;
  top: 267px;
  left: 14px;
  width: 140px;
  height: 24px;
  overflow: hidden;
  color: #FFF;
  font: bold 20px/24px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
}

.floor .content .left-img .img-des {
  position: absolute;
  top: 296px;
  left: 14px;
  color: #FFF;
  width: 140px;
  height: 16px;
  overflow: hidden;
  font: 12px/16px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
}

.floor .content .img-list {
  position: relative;
  float: left;
  width: 400px;
  height: 360px;
  overflow: hidden;
}

.floor .content .img-list li {
  position: relative;
  float: left;
  width: 199px;
  height: 179px;
  border-width: 0 0 1px 1px;
  border-color: #F9F9F9;
  border-style: solid;
  overflow: hidden;
}

.floor .content .img-list li .img-name {
  width: 180px;
  height: 24px;
  overflow: hidden;
  text-align: center;
  margin: 14px auto 0;
  font: 16px/24px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
  color: #333;
}

.floor .content .img-list li .img-desc {
  color: #33AE75;
  width: 180px;
  height: 20px;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  font: 12px/20px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
}

.floor .content .img-list li .img-wrap {
  position: absolute;
  top: 58px;
  left: 40px;
  width: 120px;
  height: 120px;
}

.floor .content .img-list li .img-wrap img {
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  transition: transform .5s;
}

.floor .content .img-list li:hover img {
  transform: scale(1.05);
}

.floor .bottom-list {
  position: relative;
  width: 100%;
  height: 109px;
  overflow: hidden;
}

.floor .bottom-list ul {
  width: 593px;
}

.floor .bottom-list ul li {
  width: 194px;
  position: relative;
  float: left;
  height: 109px;
  border-right: 1px solid #F9F9F9;
}

.floor .bottom-list ul li .img-name {
  width: 70px;
  color: #333;
  height: 24px;
  margin-top: 27px;
  padding-left: 20px;
  overflow: hidden;
  font: 14px/24px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
}

.floor .bottom-list ul li .img-desc {
  color: #33AE75;
  width: 72px;
  height: 22px;
  padding-left: 20px;
  overflow: hidden;
  font: 12px/22px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
}

.floor .bottom-list ul li a {
  position: absolute;
  top: 15px;
  right: 15px;
}

.floor .bottom-list ul li a img {
  display: block;
  width: 80px;
  height: 80px;
  transition: transform .5s;
}

.floor .bottom-list ul li:hover img {
  transform: scale(1.05);
}

.floor .logo-list {
  width: 100%;
  height: 40px;
  overflow: hidden;
  border-top: 1px solid #F9F9F9;
}

.floor .logo-list ul li {
  margin: 9px 9px 0 9px;
  float: left;
  width: 80px;
  height: 30px;
}

.floor .logo-list ul li img {
  display: block;
  width: 80px;
  height: 30px;
}

.t-floor {
  border-color: #5f6cb7;
  box-shadow: 0 0 8px #eee;
  height: 455px;
  background: #fff;
}

.t-floor .content .right-img {
  position: relative;
  float: left;
  width: 200px;
  height: 360px;
  text-decoration: none;
  cursor: pointer;
}

.t-floor .content .right-img .img-name {
  color: #5F6CB7;
  top: 15px;
  font: bold 20px/26px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
  position: absolute;
  z-index: 1;
  left: 21px;
}

.t-floor .content .right-img .img-desc {
  color: #5F6CB7;
  top: 41px;
  font: 12px/18px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
  position: absolute;
  z-index: 1;
  left: 21px;
}

.t-floor .content .right-img img {
  display: block;
  width: 200px;
  height: 360px;
  position: absolute;
  top: 0;
  left: 0;
}

.floor-show {
  width: 1190px;
  margin-top: 30px;
  margin: 20px auto 0;
}

.floor-show .title {
  width: 100%;
  height: 22px;
}

.floor-show .title .border {
  float: left;
  width: 3px;
  height: 20px;
  background: #fe9901;
}

.floor-show .title p {
  float: left;
  margin-left: 12px;
  font: bold 18px/20px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
}

.floor-show .content ul {
  width: 1191px;
  margin-top: 8px;
  padding: 1px 0;
  background: #EEE;
}

.floor-show .content ul li {
  width: 237px;
  height: 340px;
  position: relative;
  float: left;
  margin: 1px 0 0 1px;
  background: #FFF;
  overflow: hidden;
  cursor: pointer;
}

.floor-show .content ul li a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  cursor: pointer;
}

.floor-show .content ul li a img {
  width: 200px;
  height: 200px;
  margin: 20px auto 0;
  display: block;
  transition: transform .5s;
}

.floor-show .content ul li a .title {
  width: 193px;
  height: 40px;
  margin: 15px auto 5px;
  overflow: hidden;
  font: 12px/20px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
  word-break: break-all;
  color: #333;
}

.floor-show .content ul li a .title .zy {
  float: left;
  width: 35px;
  height: 18px;
  margin: 2px 5px 0 0;
  background: url(../images/index.png) -561px -270px;
}

.floor-show .content ul li a .price {
  margin-left: 20px;
  color: #F60;
  font: bold 16px/18px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
}

.floor-show .content ul li a .price i {
  font-size: 10px;
}

.floor-show .content ul li a .label {
  width: 200px;
  position: relative;
  height: 16px;
  margin: 7px auto 0;
  overflow: hidden;
}

.floor-show .content ul li a .label span {
  position: relative;
  zoom: 1;
  display: block;
  float: left;
  padding: 0 2px;
  height: 16px;
  color: #FFF;
  font: 12px/16px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
  background: #F40;
  margin-right: 10px;
  border-radius: 3px;
  white-space: nowrap;
}

.floor-show .content ul li .fot-label {
  top: 278px;
  position: absolute;
  right: 22px;
}

.floor-show .content ul li .fot-label span {
  float: left;
  width: 44px;
  height: 20px;
  border: 1px solid #FF6600;
  border-radius: 4px;
  text-align: center;
  color: #F60;
  line-height: 20px;
  font-size: 12px;
}

.floor-show .content .end {
  position: relative;
  width: 112px;
  height: 22px;
  text-align: center;
  color: #CCC;
  margin: 15px auto;
  font: 18px/22px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
}

.floor-show .content .end .line-left {
  left: -97px;
  position: absolute;
  top: 11px;
  width: 97px;
  height: 1px;
  background: #CCC;
}

.floor-show .content .end .line-right {
  right: -97px;
  position: absolute;
  top: 11px;
  width: 97px;
  height: 1px;
  background: #CCC;
}

.guide {
  width: 100%;
  background: #f5f5f5;
  border-top: 1px solid #e7e7e7;
}

.guide .content {
  width: 1190px;
  margin: 0 auto;
  overflow: hidden;
}

.guide .content .head {
  width: 1250px;
  padding: 12px 0;
  height: 73px;
  border-bottom: 1px solid #eaeaea;
  background: none;
}

.guide .content .head dl {
  width: 250px;
  float: left;
  overflow: hidden;
}

.guide .content .head dl dt {
  float: left;
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.guide .content .head dl dt img {
  display: block;
  width: 48px;
  height: 48px;
}

.guide .content .head dl dd {
  width: 180px;
  float: left;
  height: 48px;
}

.guide .content .head dl dd h5 {
  line-height: 24px;
  width: 100%;
  font-weight: 700;
  color: #222;
  font-size: 14px;
  font-weight: 700;
}

.guide .content .head dl dd p {
  font-size: 12px;
  line-height: 24px;
  width: 100%;
  color: #545454;
}

.guide .content .foot {
  width: 1050px;
  float: left;
  height: 180px;
}

.guide .content .foot dl {
  width: 210px;
  float: left;
  height: 160px;
}

.guide .content .foot dl dt {
  width: 100%;
  line-height: 40px;
  font-weight: 700;
  color: #545454;
  height: 35px;
  font-size: 14px;
  overflow: hidden;
}

.guide .content .foot dl dd {
  width: 100%;
  line-height: 22px;
  color: #545454;
  font-size: 12px;
}

.guide .content .fot-right {
  float: left;
  height: 180px;
  width: 90px;
}

.guide .content .fot-right p {
  width: 100%;
  line-height: 40px;
  font-weight: 700;
  color: #545454;
  height: 35px;
  font-size: 14px;
  margin-bottom: 5px;
  overflow: hidden;
}

.guide .content .fot-right span {
  color: #333;
  font-size: 12px;
}

.footer {
  background: #FFF;
  width: 100%;
  padding-top: 15px;
  text-align: center;
}

.footer .content {
  width: 1190px;
  height: 185px;
  margin: 0 auto;
  text-align: center;
}

.footer .content .list {
  line-height: 25px;
  height: 25px;
}

.footer .content .list a {
  color: #666;
  font-size: 12px;
}

.footer .content .list span {
  color: #888;
  padding: 0 8px;
  font-size: 12px;
}

.footer .content .copy {
  width: 1190px;
  float: left;
  margin-top: 0;
  line-height: 25px;
  height: 25px;
}

.footer .content .copy a {
  color: #999;
  font-size: 12px;
}

.footer .content .copy span {
  color: #888;
  padding: 0 8px;
  font-size: 12px;
}

.footer .content .logo {
  width: 1190px;
  float: left;
  height: 25px;
  margin-top: 5px;
}

.footer .content .logo img {
  display: inline-block;
  margin-right: 8px;
  height: 24px;
  width: 65px;
}
